*.tfstate
*.tfstate.*
*.tfvars
!terraform.tfvars.example
.terraform/
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.tfstate.lock.info
terraform.tfvars
*.tfstate
*.tfstate.*
.terraform/
